
# Main
.commands {
    margin: 1;
}

# General
.save-button {
    margin-top: 1;
}

# Search panel
.search-field {
    width: 110;
    margin-bottom: 1;
}

.search-selector {
    margin: 1;
}

# User creation/modification panel
.username {
    width: 16;
    margin-bottom: 1;
}

.name {
    width: 32;
}

.password {
    width: 16;
}

.passphrase {
    width: 110;
}

.owner {
    width: 16;
    margin-bottom: 1;
}

ToggleButton > .toggle--button {
    display: none;
}

ToggleButton.-on > .toggle--button {
    color: $text-success;
}
