
.username {
    width: 16;
    margin-bottom: 1;
}

.name {
    width: 32;
}

.password {
    width: 16;
}

.passphrase {
    width: 110;
}

.owner {
    width: 16;
    margin-bottom: 1;
}

ToggleButton > .toggle--button {
    display: none;
}

ToggleButton.-on > .toggle--button {
    color: $text-success;
}